# Ignorar contenido de landings y multimedia
/landings/*
!/landings/.gitkeep
/multimedia/*
!/multimedia/.gitkeep

# Ignorar archivos y directorios de caché
__pycache__/
*.py[cod]
*$py.class
.cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Ignorar archivos de caché específicos
cache/*.dat

# Ignorar otros archivos temporales comunes
*.log
*.tmp
.DS_Store
