/* CMS */
ul.lista_acciones { width: 100%;padding: 0px 10px 0 5px; }
ul.lista_acciones li { width: 100%;float: left; margin:5px 0px; list-style:none; }
ul.lista_acciones li span { font-weight:600; margin-right:5px; }
ul.lista_acciones li a { text-decoration:underline; }
.ibox-footer-publicaciones { border-bottom: 1px solid #e7eaec;background: #f9f9f9;height: 52px; }
.btn-mover-papelera { margin-top:5px}
.btn-link-aside { text-decoration:underline; color:#EE3F3F;display: block;padding: 10px 0px 0; } 
.btn-link-aside:hover { color:#666; } 
.m_l_10 { margin-left: 10px !important; }
.m_t_5 { margin-top: 5px !important; }
.note-editor.note-frame { border: 1px solid #ececec;border-radius: 0; }