<?php defined('BASEPATH') OR exit('No direct script access allowed');

$config['smtp'] = array('protocol' => 'smtp',
						'smtp_host' => 'mail.revisionalpha.com',
						'smtp_port' => 587,
						'smtp_crypto' => null,
						'smtp_user' => 'administracion@revisionalpha.com',
						'smtp_pass' => '********',
						'mailtype' => 'html',
						'charset' => 'utf-8',
						'wordwrap' => true,
						'nodebug' => false
						);